asgiref
Django==5.1.8
django-filter>=24.0,<25.0
django-cors-headers
djangorestframework
reportlab>=4.0
cloudinary
django-cloudinary-storage
djangorestframework-simplejwt
PyJWT
dj_database_url
pytz
sqlparse
psycopg2-binary
python-dotenv
gunicorn
Pillow
whitenoise==6.7.0
django-unfold==0.45.0
